@media (max-width: 575.98px) {


  .img-hover-1 {
    padding: 0;
    overflow: hidden;
  }

  .img-hover-1 img {
    display: block;
    width: 100%;
    backface-visibility: hidden;
    -webkit-transform: scale(1.06) rotate(0.1deg);
    -moz-transform: scale(1.06) rotate(0.1deg);
    -ms-transform: scale(1.06) rotate(0.1deg);
    -o-transform: scale(1.06) rotate(0.1deg);
    transform: scale(1.06) rotate(0.1deg);
    -webkit-transition: transform 0.45s cubic-bezier(0.33, 0.02, 0, 0.93);
    -moz-transition: transform 0.45s cubic-bezier(0.33, 0.02, 0, 0.93);
    -ms-transition: transform 0.45s cubic-bezier(0.33, 0.02, 0, 0.93);
    -o-transition: transform 0.45s cubic-bezier(0.33, 0.02, 0, 0.93);
    transition: transform 0.45s cubic-bezier(0.33, 0.02, 0, 0.93);
  }

  .img-hover-1 img:hover {
    -webkit-transform: translate(-3%, 0) scale(1.06);
    -moz-transform: translate(-3%, 0) scale(1.06);
    -ms-transform: translate(-3%, 0) scale(1.06);
    -o-transform: translate(-3%, 0) scale(1.06);
    transform: translate(-3%, 0) scale(1.06);
    -webkit-transition: transform 0.75s cubic-bezier(0.33, 0.02, 0, 0.93);
    -moz-transition: transform 0.75s cubic-bezier(0.33, 0.02, 0, 0.93);
    -ms-transition: transform 0.75s cubic-bezier(0.33, 0.02, 0, 0.93);
    -o-transition: transform 0.75s cubic-bezier(0.33, 0.02, 0, 0.93);
    transition: transform 0.75s cubic-bezier(0.33, 0.02, 0, 0.93);
  }

  .img-hover-2 {
    position: relative;
  }

  .img-hover-2 .caption-overlay {
    opacity: 0;
    -webkit-transition: opacity 0.75s ease;
    -moz-transition: opacity 0.75s ease;
    -ms-transition: opacity 0.75s ease;
    -o-transition: opacity 0.75s ease;
    transition: opacity 0.75s ease;
  }

  .img-hover-2 .hover-bg:before {
    content: "";
    background: rgba(255, 255, 255, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 20%;
    opacity: 0;
    -webkit-transition: all 0.65s ease;
    -moz-transition: all 0.65s ease;
    -ms-transition: all 0.65s ease;
    -o-transition: all 0.65s ease;
    transition: all 0.65s ease;
  }

  .img-hover-2:hover .caption-overlay {
    opacity: 1;
  }

  .img-hover-2:hover .hover-bg:before {
    opacity: 1;
    width: 100%;
    height: 100%;
  }

  .img-hover-3:before {
    content: "";
    background: rgba(248, 248, 248, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    opacity: 0;
    transition: 0.3s ease;
  }

  .img-hover-3:hover:before {
    opacity: 1;
  }

  .img-hover-3:hover .product-info .product-price,
  .img-hover-3:hover .product-info .product-name,
  .img-hover-3:hover .product-info .product-category {
    transform: translateY(0);
    opacity: 1;
  }

  .img-hover-3:hover .product-actions .product-btn-list li {
    transform: translateY(0);
    opacity: 1;
  }

  .img-hover-3:hover .product-actions .product-btn-list li:first-child {
    transition-delay: 0.1s;
  }

  .img-hover-3:hover .product-actions .product-btn-list li:nth-child(2) {
    transition-delay: 0.2s;
  }

  .img-hover-3:hover .product-actions .product-btn-list li:nth-child(3) {
    transition-delay: 0.3s;
  }

  .img-hover-4 img {
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
  }

  .img-hover-4:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }

  .img-hover-5 {
    overflow: hidden;
    width: 100%;
  }

  .img-hover-5 .hover-overlay {
    opacity: 0;
  }

  .img-hover-5 img {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .img-hover-5:hover img {
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }

  .img-hover-5:hover .hover-overlay {
    opacity: 1;
  }

  .img-hover-6 {
    position: relative;
    overflow: hidden;
  }

  .img-hover-6:before {
    content: "";
    background: rgba(22, 22, 22, 0.65);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    padding: 1rem;
    -webkit-transform: rotate3d(-1, 1, 0, 100deg);
    -moz-transform: rotate3d(-1, 1, 0, 100deg);
    -ms-transform: rotate3d(-1, 1, 0, 100deg);
    -o-transform: rotate3d(-1, 1, 0, 100deg);
    transform: rotate3d(-1, 1, 0, 100deg);
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .img-hover-6 .hover-overlay {
    opacity: 0;
    -webkit-transform: translate(-45%, -30%);
    -moz-transform: translate(-45%, -30%);
    -ms-transform: translate(-45%, -30%);
    -o-transform: translate(-45%, -30%);
    transform: translate(-45%, -30%);
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -ms-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
  }

  .img-hover-6:hover:before {
    opacity: 1;
    transform: rotate3d(0, 0, 0, 0deg);
  }

  .img-hover-6:hover .hover-overlay {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition-delay: 0.2s;
  }


  .update-header-cart {
    padding-bottom: 30px;
  }

  .cart-form .update-header-cart {
    text-align: right;
    margin-bottom: 1.5rem;
  }

  .shop_table .shop_table_head {
    display: none;
  }

  .shop_table .shop_table_head td:first-child,
  .shop_table .shop_table_body td:first-child {
    padding-left: 0px;
  }

  .shop_table .product-name a {
    display: block;
  }

  .shop_table .shop_table_head>tr,
  .shop_table .shop_table_body>tr {
    border-bottom: 1px solid #E6E6E6;
  }

  .shop_table.cart_table .product-quantity {
    padding: 16px 10px;
  }

  .shop_table .product-quantity .quantity-input {
    text-align: center;
    border: 1px solid #E6E6E6;
    padding: 0.375rem;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    max-width: 140px;
  }

  .shop_table td {
    padding: 5px 10px;
  }

  .shop_table .product-quantity .quantity-input .quantity__minus,
  .shop_table .product-quantity .quantity-input .quantity__plus {
    cursor: pointer;
    padding: 0.375rem;
    line-height: 12px;
    font-size: 12px;
  }


  .shop_table .product-quantity .quantity-input .quantity__input {
    border: none;
    text-align: center;
    max-width: 50px;
    padding: 0.375rem;
  }

  .shop_table.cart_table .product-thumbnail,
  .shop_table.cart_table .product-subtotal {
    display: none;
  }

  .shop_table.cart_table .product-name,
  .shop_table.cart_table .product-price,
  .shop_table.cart_table .product-status,
  .shop_table.cart_table .product-actions {
    display: table-cell;
  }

  .cart-form .update-header-cart .button--link {
    color: #FF4343;
  }

  .shop_table tr th {
    width: 15%;
  }

  .shop_table .product-thumbnail {
    display: none;
  }

  .cart-form .coupon-form {
    padding: 1.5rem;
    border: 1px solid #E6E6E6;
    margin-bottom: 1.875rem;
  }

  .cart_totals {
    background-color: #f8f8f8;
    padding: 1.5rem;
  }

  .cart_totals .expenses {
    padding-bottom: 1.25rem;
    font-weight: 400;
    font-size: 18px;
  }

  .cart_totals .expenses .price {
    float: right;
  }

  .cart_totals .shipping-calculator {
    border: 1px solid #E6E6E6;
    padding: 1.25rem;
  }

  .cart_totals .total-price {
    padding: 2rem 0;
    font-weight: 400;
    font-size: 18px;
  }

  .cart_totals .total-price .price {
    float: right;
  }

  .add-address-btn {
    padding-bottom: 30px;
  }

  .address-box {
    padding-bottom: 25px;
  }

  .cart_totals {
    background-color: #f8f8f8;
    padding: 1.5rem;
  }

  .cart_totals .expenses {
    padding-bottom: 1.25rem;
    font-weight: 400;
    font-size: 18px;
  }

  .cart_totals .expenses {
    padding-bottom: 1.25rem;
    font-weight: 400;
    font-size: 18px;
  }

  .cart_totals .expenses .price {
    float: right;
  }

  .cart_totals .total-price {
    padding: 2rem 0;
    font-weight: 400;
    font-size: 18px;
  }

  .cart_totals .total-price .price {
    float: right;
  }

  .cart_totals .expenses .shipping-location {
    display: block;
    text-align: right;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.75;
  }
}